<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/plantilla :: head">
</head>
<body>
<header th:replace="plantilla/plantilla :: header"> </header>
<div class="container mt-2">
<form th:action="@{/grabar}" th:object="${vehiculo}" method="post">
<div class="card bg-light">
<div class="card-header bg-info text-white" th:text="${titulo}"></div>
<div class="form-group row">
<label class="col-md-2" for="nombre">Id:</label> <input
type="text" th:field="*{id}"
class="form-control form-control-sm col-md-10" id="Id"
placeholder="Id"> <small> </small>
</div>	
<div class="form-group row">
<label class="col-md-2" for="nombre">Placa:</label> <input
type="text" th:field="*{placa}"
class="form-control form-control-sm col-md-10" id="placa"
placeholder="Placa del Vehiculo"> <small> </small>
</div>
<div class="form-group row">
<label class="col-md-2" for="marca">Marca:</label> <input
type="text" th:field="*{marca}"
class="form-control form-control-sm col-md-10" id="marca"
placeholder="Marca del Vehiculo"> <small></small>
</div>
<div class="form-group row">
<label class="col-md-2" for="modelo">Modelo:</label> <input
type="text" th:field="*{modelo}"
class="form-control form-control-sm col-md-10" id="modelo"
placeholder="Modelo del Vehiculo"> <small></small>
</div>
<div class="form-group row">
<label class="col-md-2" for="Precio">Precio</label> <input
type="text" th:field="*{precio}"
class="form-control form-control-sm col-md-10" id="modelo"
placeholder="Precio del Vehiculo"> <small></small>
</div>
<div class="form-group row">
<label class="col-md-2" for="color">Color</label> <input
type="text" th:field="*{color}"
class="form-control form-control-sm col-md-10" id="color"
placeholder="Color del Vehiculo"> <small></small>
</div>
<div class="form-group row">
<label class="col-md-2" for="color">Fabricación</label> <input
type="text" th:field="*{fabricacion}"
class="form-control form-control-sm col-md-10" id="color"
placeholder="Color del Vehiculo"> <small></small>
</div>
<div class="form-group row">
<label class="col-md-2" for="color">Foto</label> <input
type="text" th:field="*{foto}"
class="form-control form-control-sm col-md-10" id="color"
placeholder="Foto del Vehiculo"> <small></small>
</div>
</div>
<div class="card-footer bg-light">
	<input type="submit" class="btn btn-primary btn-sm" value="Guardar">
</div>
</div>
</form>
</div>
<footer th:replace="plantilla/plantilla :: footer"> </footer>
</body>
</html>




